<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/docker.jpeg">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Xcel Cloud Containers Team!. It uses data from api.covid19api.com!</p>
        <img class='portrait' src="/img/beach.jpg">
    </div>
    
    {{>footer}}
</body>


</html>