<footer class="navbar navbar-default" style="margin:20px 0 0 0; background:#f7f7f9;">
   <div class="container-fluid">
          <p class="navbar-text pull-left text-white">2020 - Container Crush Covid-19</p>
          
          <a target="_blank" href="https://www.google.com/search?sxsrf=ALeKk01II6ut4FTYD4irWwpdp44fEbISew%3A1588064310189&source=hp&ei=NvCnXoTBCf6e4-EP74mCiAw&q=covid-19&oq=covid-19&gs_lcp=CgZwc3ktYWIQAzIFCAAQgwEyBQgAEIMBMgUIABCDATIFCAAQgwEyBQgAEIMBMgIIADIFCAAQgwEyBAgAEAMyBQgAEIMBMgUIABCDAToECCMQJzoFCAAQkQI6BAgAEEM6CQgAEIMBEAoQQ1CjAVjcEmDbF2gAcAB4AIAB4QGIAcILkgEFMC43LjGYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwiEtNnI4IrpAhV-zzgGHe-EAMEQ4dUDCAc&uact=5" class="navbar-btn btn-danger btn pull-right">
          <span class="glyphicon glyphicon-star"></span>  COVID-19 </a>
   </div>
</footer>
